@use "../../ui-components/stylesheets/ff-colors.scss" as *;

.ff--immersive-editor-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex: 1;
  min-width: 0;

  .ff--immersive-editor-content {
    flex: 1;
    position: relative;
    min-width: 0;
    height: 100%;
  }

  .editor-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .editor-wrapper .status-wrapper {
    margin-top: -64px;
  }

  .resize-bar.resizing {
    background-color: $ff-blue-500;
  }

  &.resizing {
    cursor: ew-resize;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
