.ff-bg-light {
    background-color: var(--ff-grey-50);
}

.ff-theme-light {

    color: var(--ff-grey-800);

    /* Core */

    h1, h2, h3, h4, h5{
        color: var(--ff-grey-700);
    }
    
    p {
        color: var(--ff-grey-800);
    }

    .ff-description {
        color: var(--ff-grey-500);
    }

    select {
        background-color: var(--ff-grey-50);
    }

    code {
        background-color: var(--ff-grey-100);
        border-color: var(--ff-grey-200);
    }

    /* FlowFuse Components */

    .ff-btn {
        &:disabled {
            background-color: var(--ff-white);
            border-color: var(--ff-grey-300);
            color: var(--ff-grey-300);
        }
    }
}
