.ff-bg-dark {
    background-color: var(--ff-grey-800);
}

.ff-theme-dark {
    color: var(--ff-grey-50);
    
    /* Core */

    table {
        td, th {
            border-color: var(--ff-grey-500);
        }
    }

    select {
        background-color: var(--ff-grey-800);
    }

    code {
        background-color: var(--ff-grey-900);
        border-color: var(--ff-grey-700);
    }

    .ff-description {
        color: var(--ff-grey-400);
    }

    /* FlowFuse Components */

    /**
    * Buttons
    */
    .ff-btn {
        &--tertiary {
            color: var(--ff-white);
            &:hover {
                // background-color: var(--ff-color-secondary--highlight);
                color: var(--ff-white);
            }
        }
        &:disabled {
            background-color: var(--ff-grey-700);
            border-color: var(--ff-grey-500);
            color: var(--ff-grey-500);
        }
    }

    /**
    *  Text Input
    */

    .ff-input.ff-text-input {
        background-color: var(--ff-grey-700);
        border-color: var(--ff-grey-900);
        &:focus {
          border-color: var(--ff-white);
        }
    }

    /**
    *  Dropdowns
    */

    .ff-dropdown {
        &[disabled="true"] {
            background-color: var(--ff-grey-700);
            color: var(--ff-grey-500);
        }
        .ff-dropdown-selected {
            background-color: var(--ff-grey-700);
            border-color: var(--ff-grey-500);
        }
        .ff-dropdown-options {
            border-color: var(--ff-grey-700);
        }
        .ff-dropdown-option {
            background-color: var(--ff-grey-700);
            border-color: var(--ff-grey-800);
            &:hover {
                background-color: var(--ff-grey-800);
            }
        }
    }

    /**
    *  Checkboxes
    */

    .ff-checkbox {
        .checkbox[checked=true] {
            background-color: transparent;
            border-color: var(--ff-grey-500);
        }
        &:hover:not([disabled=true]) {
            .checkbox {
                background-color: var(--ff-grey-600);
            }
        }
        &:hover:not([disabled=true]) {
            .checkbox[checked=true] {
                background-color: var(--ff-grey-800);
                border-color: var(--ff-grey-600);
            }
        }
    }

    /**
    *  FF Toggle Switch
    */
    .ff-toggle-switch {
        svg {
          color: var(--ff-grey-800);
        }
        input:checked + .ff-toggle-switch-slider {
          background-color: var(--ff-blue-600);
        }
        &[disabled=true] {
          .ff-toggle-switch-slider {
            background-color: var(--ff-grey-700);
          }
          .ff-toggle-switch-button {
            background-color: var(--ff-grey-800);
          }
          svg {
            color: var(--ff-grey-500);
          }
        }
    }

    .ff-toggle-switch-slider {
        background-color: var(--ff-grey-600);
        &:hover {
          background-color: var(--ff-indigo-500) !important;
        }
    }

    .ff-toggle-switch-button {
        background-color: var(--ff-white);
    }

    /**
    *  Radio Group
    */

    .ff-radio-btn {
      .checkbox {
        border: 1px solid var(--ff-grey-600);
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%231F2937' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='4'/%3e%3c/svg%3e")    
      }
    }
    
    .ff-radio-btn {
        .checkbox {
            &[checked=true] {
                background-color: var(--ff-white);
                border-color: var(--ff-grey-700);
            }
            &[checked=true]:after {
                display: block;
            }
        }
        &:hover:not([disabled=true]) {
            .checkbox {
                background-color: var(--ff-grey-600);
            }
        }
        &:hover:not([disabled=true]) {
            .checkbox[checked=true] {
                background-color: var(--ff-white);
            }
        }
    }

    /**
    *  Toast Notification
    */

    .ff-notification-toast {
        color: var(--ff-grey-800);
    }

    /**
    *  Selection Tile
    */

    .ff-tile-selection {
        .ff-tile-selection-option--header > h2 svg {
            fill: var(--ff-grey-500);
            &.ff-tile-selection-option--edit:hover {
                fill: var(--ff-blue-300);
            }
        }
        .ff-tile-selection-option {
            background-color: var(--ff-grey-700);
            border-color: var(--ff-grey-800);
            &.active svg {
                fill: var(--ff-blue-300);
            }
            &:hover {
                background-color: var(--ff-grey-800);
            }
            &:not(.editable):hover {
                border-color: var(--ff-blue-300);
            }
            &[selected=true] {
                background-color: var(--ff-grey-800);
                border-color: var(--ff-grey-800);
            }
        }
    }

    /**
    *  Data Table
    */
    .ff-data-table {
        &--data {
          .ff-data-table--cell {
          }
          thead {
            .ff-data-table--cell {
              background-color: var(--ff-grey-900);
              &.sortable {
                &:hover {
                  background-color: var(--ff-grey-800);
                }
              }
              &.sorted {
                background-color: var(--ff-grey-900);
              }
            }
          }
          tbody {
            .ff-data-table--row:last-child {
              .ff-data-table--cell {
                border-top-color: var(--ff-grey-600);
              }
            }
            .ff-data-table--cell {
              background-color: var(--ff-grey-700);
              &.highlight {
                background-color: var(--ff-grey-800);
              }
            }
            .selectable:hover .ff-data-table--cell {
              color: var(--ff-blue-300);
              background-color: var(--ff-grey-600);
            }
          }
        }
        &--row {
          td {
            border-color: var(--ff-grey-600);
          }
        }
      }
      
      .ff-loadmore {
        span {
          color: var(--ff-white);
          background-color: var(--ff-grey-900);
          border: 1px solid var(--ff-grey-600);
          &:hover {
            color: var(--ff-blue-300);
            background-color: var(--ff-grey-600);
          }
        }
      }
}
