/*
    ff-utility contains functional variables and classes for padding/margin and sizings
*/

// screen sizes
$ff-screen-sm: 640px; 
$ff-screen-md: 768px; 
$ff-screen-lg: 1024px; 
$ff-screen-xl: 1280px; 
$ff-screen-2xl: 1536px;

// unit
$ff-unit-xs: 3px;
$ff-unit-sm: 6px;
$ff-unit-md: 9px;
$ff-unit-lg: 18px;
$ff-unit-xl: 27px;

// font unit
$ff-funit-xs: 0.75rem;
$ff-funit-sm: 0.85rem;
$ff-funit-md: 1rem;
$ff-funit-lg: 1.5rem;
$ff-funit-xl: 2rem;