@import '../ui-components/stylesheets/ff-colors.scss';

@import "./layouts.scss";
@import "./transitions.scss";
@import "./animations.scss";
@import "./components/charts.scss";

html, body, #app {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#ff-app {
    flex: 1;
    background-color: $ff-grey-300;
}

.ff-link {
    color: $ff-blue-700;
    &:hover {
        cursor: pointer;
        color: $ff-blue-900;
        text-decoration: underline;
    }
}

.ff-avatar {
    width: 24px;
    height: 24px;
    border-radius: 4px;
}
.ff-avatar-large {
    width: 48px;
    height: 48px;
    border-radius: 8px;
}
.ff-bg-dark {
    background-color: $ff-grey-800;
    .ff-btn.ff-btn--primary {
        background-color: $ff-teal-600;
        &:hover {
            background-color: $ff-teal-700;
        }
    }
}

.ff-loading {
    width: 100%;
    height: 100%;
    h4 {
        font-size: 1.5rem;
        margin-top: 1rem;
        font-weight: 600;
    }
    &.theme-light {
        color: $ff-grey-900;
    }
    &.theme-dark {
        color: white;
    }
}

.ff-icon.ff-clickable {
    cursor: pointer;
    path, circle, rect {
        transition: 0.3s color, 0.3s stroke, 0.3s fill;
        -webkit-transition: 0.3s color, 0.3s stroke, 0.3s fill;
    }
    &:hover {
        color: $ff-blue-600;
    }
}

.ff-icon-xl {
    width: 48px;
    height: 48px;
    stroke-width: 1px;
}

.ff-dialog-box a {
    color: $ff-blue-600;
    &:hover {
        color: $ff-blue-800;
    }
}

.ff-dialog-box--info {
    p {
        margin-bottom: 12px;
    }
    img {
        width: 150px;
        height: 150px;
    }
}

.ff-no-data {
    background-color: $ff-grey-100;
    color: $ff-grey-400;
    font-size: 0.875rem;
    border: $ff-grey-200 solid 1px;
    padding: 12px;
    text-align: center;

    &.ff-no-data-large {
        padding: 64px 12px;
    }

    &--boxed {
        @extend .ff-no-data;

       .message {
           display: block;
           text-align: center;
           margin: 10px 0 10px;
           padding: 10px 0 10px;
           border: 1px solid $ff-grey-300;
       }
    }
}

label {
    cursor: inherit;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $ff-grey-400 !important;
    opacity: 1; /* Firefox */
}

/* Ensure headlessui MenuItem pointer for active `menuitem` anchors */
[role="menu"] a[role="menuitem"] {
    cursor: pointer
}

.ff-dialog-fixed-height .ff-dialog-content {
    overflow-y: visible;
}

.ff-breadcrumbs {
    display: flex;
    align-items: center;
    label {
        color: $ff-blue-600;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    span:last-child label {
        pointer-events: none;
        color: black;
    }
}

// Handle nested buttons in a data table

.ff-data-table--cell a:not(.ff-btn):hover,
.ff-data-table--cell a:hover svg.ff-icon {
    color: $ff-blue-600;
}

.ff-data-table--data .ff-data-table--row--nested .ff-data-table--cell {
    background-color: $ff-grey-50;
    &:first-child {
        padding-left: 36px;
    }
}

.ff-data-table--data .ff-data-table--row--nested.selectable:hover .ff-data-table--cell {
    background-color: $ff-grey-100;
}

.ff-page-banner {
    border-radius: 5px;
    background-color: $ff-blue-100;
    color: $ff-grey-600;
    text-align: left;
    border: 1px solid $ff-blue-300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;

    &.minimal {
        background: none;
        border: none;
        border-radius: 0;
    }
}
