@import '~@flowforge/forge-ui-components/dist/scss/forge-colors.scss';

@import "./layouts.scss";

#ff-app {
    background-color: $ff-grey-300;
}

.ff-link {
    color: $ff-blue-700;
    &:hover {
        cursor: pointer;
        color: $ff-blue-900;
    }
}

.ff-avatar {
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

.ff-bg-dark {
    background-color: $ff-grey-800;
    .ff-btn.ff-btn--primary {
        background-color: $ff-teal-600;
        &:hover {
            background-color: $ff-teal-700;
        }
    }
}

.ff-loading {
    width: 100%;
    height: 100%;
    h4 {
        font-size: 1.5rem;
        margin-top: 1rem;
        font-weight: 600;
    }
    &.theme-light {
        color: $ff-grey-900;
    }
    &.theme-dark {
        color: white;
    }
}

label {
    cursor: inherit;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $ff-grey-400 !important;
    opacity: 1; /* Firefox */
}

/* Ensure headlessui MenuItem pointer for active `menuitem` anchors */
[role="menu"] a[role="menuitem"] {
    cursor: pointer
}
