@import '../../ui-components/stylesheets/ff-colors.scss';

.ff-applications-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    > li {
        > * {
            border-left: 1px solid $ff-grey-300;
            border-right: 1px solid $ff-grey-300;
            background-color: $ff-grey-100;
        }

        > :first-child {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            border-top: 1px solid $ff-grey-300;
        }

        > :last-child {
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            border-bottom: 1px solid $ff-grey-300;
        }
    }
    .ff-application-list--app {
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 18px;
        border: 1px solid $ff-grey-300;
        >span {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        &:hover {
            cursor: pointer;
            border-color: $ff-blue-600;

            .ff-application-list--icon .ff-icon {
                color: $ff-blue-600;
            }
        }
    }
    .ff-applications-list--instance {
        display: flex;
        flex-direction: column;
        span {
            color: $ff-grey-400;
            font-size: 0.75rem;;
        }
    }
}

.ff-applications-list-instances {
    padding: 12px;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    >label {
        display: block;
        font-size: 0.875rem;
        color: $ff-grey-500;
        display: flex;
        align-items: center;
        gap: 12px;
        &::after {
            content: '';
            height: 1px;
            flex-grow: 1;
            background-color: $ff-grey-300;
        }
    }
    > li {
        background-color: white;
        border-color: $ff-grey-300;
        border-width: 1px;
        border-style: solid;
        border-radius: 6px;
        padding: 12px;
        display: grid;
        align-items: center;
        grid-template-columns: 40px 1fr 100px minmax(auto, 250px) 140px;
        &:hover {
            cursor: pointer;
            border-color: $ff-blue-600;
            .ff-application-list--instance {
                color: $ff-blue-600;
            }
            .ff-icon {
                color: $ff-blue-600;
            }
        }
    }
}

.ff-applications-list--details {
    color: $ff-grey-400;
    font-size: 0.875rem;
    padding-bottom: 12px;
    text-align: center;
}