@import '~@flowforge/forge-ui-components/dist/scss/forge-colors.scss';

.ff-audit-entry {
    align-items: center;
    display: grid;
    grid-template-columns: minmax(50px, 60px) minmax(20px, 70px) minmax(240px, 5fr) 1fr;
    label {
        font-weight: 500;
    }
    span {
        color: $ff-grey-400;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1rem;
        display: block;
        width:100%;
    }

    svg path {
        stroke-width: 2px;
    }
    &--error {
        position: relative;
        summary {
            display: flex;
            align-items: center;
            list-style: none;
            cursor: pointer;
            font-size: 0.875rem;
            color: $ff-grey-500;
            &::-webkit-details-marker {
                display: none;
            }
        }
        // the chevron down will only show when detail is opened
        span .ff-icon {
            position: absolute;
            top: 3px;
            left: 0;
            background-color: $ff-grey-50;
            fill: $ff-grey-500;
        }
        &:hover {
            summary {
                color: black;
            }
            span .ff-icon {
                fill: black;
            }
        }
    }
}

.ff-audit-entry-trigger, .ff-audit-entry-time {
    color: $ff-grey-500;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ff-audit-entry-trigger {
    text-align: right;
}
