.ff-blueprint-groups {
    h4 {
        border-bottom: 1px solid $ff-grey-200;
    }
}

.ff-blueprint-tile {
    border: 1px solid $ff-grey-300;
    border-radius: $ff-unit-sm;
    display: flex;
    flex-direction: column;
    --tile-background: #{$ff-blue-100};
    --tile-foreground: #{$ff-blue-300};
}

.ff-blueprint-tile-sm {
    display: inline-flex;
    flex-direction: row;
    border: 1px solid $ff-grey-300;
    border-radius: $ff-unit-sm;
    --tile-background: #{$ff-blue-100};
    --tile-foreground: #{$ff-blue-300};
}

.ff-blueprint-tile--header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tile-background);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    svg {
        stroke: var(--tile-foreground);
        path {
            stroke-width: 1px;
        }
    }
}

.ff-blueprint-tile .ff-blueprint-tile--header {
    height: 75px;
    overflow-y: hidden;
    svg {
        transform: scale(4);
    }
}

.ff-blueprint-tile-sm .ff-blueprint-tile--header {
    width: 32px;
    border-radius: 0px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    svg {
        transform: scale(1.5);
    }
}

.ff-blueprint-tile--info {
    padding: $ff-unit-md $ff-unit-xl $ff-unit-md $ff-unit-md;
    label {
        font-weight: 500;
    }
}

.ff-blueprint-tile .ff-blueprint-tile--info {
    padding: $ff-unit-md $ff-unit-sm;
    display: flex;
    flex-direction: column;
    gap: $ff-unit-sm;
    flex-grow: 1;
    label {
        font-size: 1.2rem;
        font-weight: 600;
    }
}

.ff-blueprint-tile--actions {
    width: 100%;
    display: flex;
    padding: 0 $ff-unit-sm $ff-unit-md;
    align-items: center;
}

.ff-blueprint-group--general {
    --tile-background: #{$ff-blue-100};
    --tile-foreground: #{$ff-blue-300};
}

.ff-blueprint-group--manufacturing {
    --tile-background: #{$ff-teal-100};
    --tile-foreground: #{$ff-teal-400};
}