@use "../../ui-components/stylesheets/ff-colors.scss" as *;

.ff-chart {
    padding: 8px 18px;
    border: 1px solid var(--ff-color-border-strong);
    border-radius: 6px;
    background-color: var(--ff-color-bg-app);
    h3 {
        margin: 0;
    }
}

.ff-chart-device-status {
    display: flex;
    gap: 4px;
    label {
        display: block;
    }
    .ff-chart-bar {
        text-align: right;
        border-right: 1px solid;
        border-color: var(--bar-border);
        color: var(--text-color);
        transition: 0.3s opacity;
        >div, >label {
            padding: 3px 6px;
            font-size: 0.875rem;
            font-weight: 600;
        }
        > div {
            border-width: 1px 0px 1px 1px;
            border-style: solid;
            background-color: var(--bar-bg);
            border-color: var(--bar-border);
            transition: 0.3s background-color, 0.3s color, 0.3s opacity;
        }
        &:hover {
            >div {
                background-color: var(--bar-border);
            }
        }
        label {
            text-transform: capitalize;
        }
        &:hover {
            cursor: pointer;
        }
        &--error {
            --bar-bg: var(--ff-color-status-error-bg);
            --bar-border: var(--ff-color-status-error-border);
            --text-color: var(--ff-color-status-error-text);
        }
        &--never,
        &--stopped {
            --bar-bg: var(--ff-color-bg-emphasis);
            --bar-border: var(--ff-color-border-strong);
            --text-color: var(--ff-color-text-deep);
        }
        &--offline {
            --bar-bg: var(--ff-color-bg-surface-raised);
            --bar-border: var(--ff-color-border-strong);
            --text-color: var(--ff-color-text-deep);
        }
        &--safe {
            --bar-bg: var(--ff-color-status-safe-bg);
            --bar-border: var(--ff-color-status-safe-border);
            --text-color: var(--ff-color-status-safe-text);
        }
        &--running {
            --bar-bg: var(--ff-color-status-success-bg);
            --bar-border: var(--ff-color-status-success-border);
            --text-color: var(--ff-color-status-success-text);
        }
        &.ghost {
            opacity: 0.15;
        }
    }
}
