.ff-empty-state {
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: white;
    border: 1px solid $ff-grey-200;
    border-radius: 3px;
    >div {
        margin: auto;
    }
    img {
        margin: auto;
    }
    h1 {
        font-size: 1.5rem;
        line-height: 1.75rem;
        margin: auto;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 500;
        max-width: 450px;
    }
    &--message {
        max-width: 500px;
        font-size: 1.1rem;
        margin: auto;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        p {
            margin-bottom: 0.75rem;
            line-height: 1.5rem;
            color: $ff-grey-800;
        }
    }
    &--actions {
        display: flex;
        justify-content: center;
    }
    &--note {
        display: flex;
        justify-content: center;
        margin-top: 1.75rem;
        color: $ff-grey-400;
    }

    &.ff-empty-state-feature-unavailable {
        background-color: inherit;
        border: none; 
    }
}