.ff-notification-interview {
    max-width: 450px;
    border: 1px solid $ff-grey-400;
    background-color: $ff-white;
    box-shadow: -6px 6px 6px #00000040;
    border-radius: 0 6px 6px 0;
    padding: 12px 9px 12px 18px;
    border: 1px solid $ff-blue-700;
    border-left: 8px solid $ff-blue-700;
    h3 {
        font-size: 1.1rem;
        margin-bottom: 12px;
    }
    p {
        font-size: 1.1rem;
    }
    &--actions {
        margin-top: 24px;
        gap: 12px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-size: 1rem;
        .ff-btn.ff-btn--primary {
            background-color: $ff-blue-700;
            border-color: $ff-blue-700;
            &:hover {
                background-color: $ff-blue-800;
            }
        }
    }
}