.ff-notification-interview {
    max-width: 450px;
    border: 1px solid $ff-grey-400;
    background-color: $ff-white;
    box-shadow: -6px 6px 6px #00000040;
    border-radius: 0 6px 6px 0;
    padding: 12px 9px 12px 18px;
    border: 1px solid $ff-blue-700;
    border-left: 8px solid $ff-blue-700;
    h3 {
        font-size: 1.1rem;
        margin-bottom: 12px;
    }
    p {
        font-size: 1.1rem;
    }
    &--actions {
        margin-top: 24px;
        gap: 12px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-size: 1rem;
        .ff-btn.ff-btn--primary {
            background-color: $ff-blue-700;
            border-color: $ff-blue-700;
            &:hover {
                background-color: $ff-blue-800;
            }
        }
    }
}

$ff-notifications-drawer-side-padding: 12px;

.ff-notifications-drawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    
    > .header {
        border-bottom: 1px solid $ff-grey-300;
        padding: 10px 0;
        width: 100%;

        .title {
            padding: 0 $ff-notifications-drawer-side-padding;
            margin: 0;
            color: $ff-grey-800;
            font-weight: bold;
            font-size: 1.25rem;
            line-height: 1.75rem;
        }

        .actions {
            padding: 0 5px;
            display: flex;
            gap: 5px;

            .forge-badge {
                background-color: $ff-grey-100;

                &:hover {
                    cursor: pointer;
                    background-color: $ff-grey-300
                }

                &.disabled {
                    color: $ff-grey-400;

                    &:hover {
                        cursor: not-allowed;
                    }
                }
            }
        }
    }

    .messages-wrapper {
        flex: 1;
        width: 100%;
        background-color: $ff-grey-100;
        
        .message {
            background-color: $ff-white;
            border-bottom: 1px solid $ff-grey-300;
            padding: 9px $ff-notifications-drawer-side-padding;
            transition: ease-in-out .3s;
            cursor: pointer;

            &:hover .title {
                color: $ff-blue-500;
            }

            .body {
                flex: 1;
                display: flex;
                align-items: center;
            }

            .text {
                padding: 0 $ff-notifications-drawer-side-padding;
                flex-grow: 1;
            }

            .header {
                display: flex;
                justify-content: space-between;
                .title {
                    flex: 1;
                    transition: ease-in-out .3s;
                    h4 {
                        margin: 0;
                    }
                }

                input {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .footer {
                margin-top: 6px;
                text-align: right;
                color: $ff-grey-400;
                font-size: 80%;
                padding: 0 $ff-notifications-drawer-side-padding;
            }

            &:hover {
                background-color: $ff-grey-100;
            }
        }   
    }
    
    .empty {
        flex: 1;
        display: flex;
        align-items: center;
        text-align: center;
        color: $ff-grey-400;
    }
    
}