.ff-dropdown-option-list {
  max-height: 200px;
  overflow-y: auto;
}

.ff-dropdown-option-list::-webkit-scrollbar {
  width: 8px;
  background-color: var(--ff-color-bg-surface);
}

.ff-dropdown-option-list::-webkit-scrollbar-thumb {
  background-color: var(--ff-color-border-strong);
  border-radius: 4px;
}

.ff-dropdown-option-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--ff-color-progress-track-neutral);
}
