{
    "env": {
        "es2022": true,
        "commonjs": true
    },
    "extends": [
        "standard",
        "plugin:vue/vue3-essential"
    ],
    "parserOptions": {
        "ecmaVersion": 12
    },
    "ignorePatterns": ["frontend/dist/", "var/"],
    "rules": {
        // Inbuilt
        "indent": ["error", 4],
        "object-shorthand": ["error"],

        // plugin:vue
        "vue/html-indent": ["error", 4],
    },
    "overrides": [
        {
            "files": "frontend/",
            "env": {
                "browser": true,
                "commonjs": false
            }
        },

        {
            "files": "test/system/",
            "env": {
                "mocha": true
            }
        },

        {
            "files": "test/",

            "plugins": ["no-only-tests"],
            "rules": {
                "no-only-tests/no-only-tests": "error"
            }
        }
    ]
}
