{
    "env": {
        "browser": true,
        "commonjs": true,
        "es2021": true,
        "mocha": true
    },
    "plugins": [
        "no-only-tests"
    ],
    "extends": [
        "standard",
        "plugin:vue/vue3-essential"
    ],
    "parserOptions": {
        "ecmaVersion": 12
    },
    "rules": {
        "indent": ["error", 4],
        "vue/html-indent": ["error", 4],
        "no-only-tests/no-only-tests": "error",
        "object-shorthand": ["error"]
    },
    "globals": {
        "cy": true,
        "expect": true,
        "Cypress": true
    }
}
