var/
/node_modules/
frontend/dist
frontend/dist-setup

# Users should have a system based .gitignore that works globally, however, this
# list is a failsafe when they don't.
.DS_Store

*.env
*.env.local
package-lock.json
coverage
test/e2e/frontend/cypress/videos
test/e2e/frontend/cypress/screenshots
test/e2e/frontend/cypress/tests/examples
.nyc_output
