.ff-login {
    .ff-layout--box--wrapper {
        width: 75%;
        max-width: 1048px;
        .ff-layout--box--right {
            padding: 128px 48px;
        }
        .ff-layout--box--content {
            max-width: 380px;
        }
    }
}