@use "../../ui-components/stylesheets/ff-colors.scss" as *;
@use "../../ui-components/stylesheets/ff-utility.scss" as *;

.ff-project-overview {
    .ff-accordion--content {
        transition: none;
    }
}

.ff-instance-info {
    margin-bottom: 12px;
    h1 {
        > div {
            display: flex;
            gap: 6px;
        }
        border-bottom: 0;
        svg {
            width: 20px;
        }
    }
    table {
        padding: 9px 12px;
        background-color: var(--ff-color-bg-app);
        border-radius: 0.25rem;
        border-collapse: separate;
        border-width: 1px;
        border-color: var(--ff-color-border-strong);
        td {
            height: 36px;
        }
        tr:not(:last-child) {
            td {
                border-bottom: 1px solid var(--ff-color-border-subtle);
            }
        }
    }
    .ff-accordion {
        margin-bottom: -1px;
    }
    .ff-accordion--content {
        background-color: var(--ff-color-bg-app);
    }
    &:last-child {
        margin-bottom: 0;
    }
}