// Raw Color Scheme

$ff-black: black;
$ff-white: white;

$ff-grey-50: #F9FAFB;
$ff-grey-100: #F3F4F6;
$ff-grey-200: #E5E7EB;
$ff-grey-300: #D1D5DB;
$ff-grey-400: #9CA3AF;
$ff-grey-500: #6B7280;
$ff-grey-600: #4B5563;
$ff-grey-700: #374151;
$ff-grey-800: #1F2937;
$ff-grey-900: #111827;

$ff-red-50: #FFEBEB;
$ff-red-100: #FFC6C6;
$ff-red-200: #FF8D8D;
$ff-red-300: #F16F6F;
$ff-red-400: #ED4E4E;
$ff-red-500: #D12B2B;
$ff-red-500B: #D82525;
$ff-red-600: #BC3838;
$ff-red-700: #AB1818;
$ff-red-800: #8F0001;
$ff-red-900: #760000;

$ff-teal-50: #E4FBFC;
$ff-teal-100: #C4F3F5;
$ff-teal-200: #B2EBEE;
$ff-teal-300: #8CE2E7;
$ff-teal-400: #74D4D9;
$ff-teal-500: #50C3C9;
$ff-teal-600: #35AAB0;
$ff-teal-700: #31959A;
$ff-teal-800: #397B7E;
$ff-teal-900: #406466;

$ff-blue-50: #EFF6FF;
$ff-blue-100: #DBEAFE;
$ff-blue-200: #BFDBFE;
$ff-blue-300: #93C5FD;
$ff-blue-400: #60A5FA;
$ff-blue-500: #3B82F6;
$ff-blue-600: #2563EB;
$ff-blue-700: #1D4ED8;
$ff-blue-800: #1E40AF;
$ff-blue-900: #1E3A8A;

$ff-indigo-50: #EEF2FF;
$ff-indigo-100: #E0E7FF;
$ff-indigo-200: #C7D2FE;
$ff-indigo-300: #A5B4FC;
$ff-indigo-400: #818CF8;
$ff-indigo-500: #6366F1;
$ff-indigo-600: #4F46E5;
$ff-indigo-700: #4338CA;
$ff-indigo-800: #3730A3;
$ff-indigo-900: #312E81;

$ff-green-50: #ECFDF5;
$ff-green-100: #D1FAE5;
$ff-green-200: #A7F3D0;
$ff-green-300: #6EE7B7;
$ff-green-400: #34D399;
$ff-green-500: #10B981;
$ff-green-600: #059669;
$ff-green-700: #047857;
$ff-green-800: #065F46;
$ff-green-900: #064E3B;

$ff-yellow-50: #FFFBEB;
$ff-yellow-100: #FEF3C7;
$ff-yellow-200: #FDE68A;
$ff-yellow-300: #FCD34D;
$ff-yellow-400: #FBBF24;
$ff-yellow-500: #F59E0B;
$ff-yellow-600: #D97706;
$ff-yellow-700: #B45309;
$ff-yellow-800: #92400E;
$ff-yellow-900: #78350F;

// Theme Colors

$ff-color--action: $ff-blue-900;
$ff-color--highlight: $ff-indigo-700;
$ff-color--danger: $ff-red-500;
$ff-color--danger--dark: $ff-red-600;