/*
  ff-core contains styling on the custom, ff components
*/

.ff-icon {
  width: 20px;
  height: 20px;
}

.ff-icon-sm {
  width: 16px;
  height: 16px;
}

.ff-icon-lg {
  width: 24px;
  height: 24px;
}

/*
  FF Button
*/
.ff-btn {
  border-radius: $ff-unit-sm;
  display: flex;
  align-items: center;
  font-size: $ff-funit-sm;
  line-height: 20px;
  height: 32px;
  position: relative;
  
  justify-content: center;
  font-weight: bold;
  height: auto;
  padding: $ff-unit-sm 16px;
  border: 0;

  &.ff-btn-icon {
    padding: $ff-unit-sm $ff-unit-md;
  }

  &.ff-btn-small {
    padding: $ff-unit-xs $ff-unit-sm;
    font-size: $ff-funit-xs;
    line-height: 16px;
    height: 24px;
  }
  
  &.ff-btn-fwidth {
    justify-content: center;
  }

  &:hover {
    cursor: pointer;
  }

  &--primary {
    background-color: $ff-color--action;
    border: 1px solid $ff-color--action;
    color: $ff-grey-50;
    &:hover {
      background-color: $ff-color--highlight;
    }
  }
  &--secondary {
    background-color: $ff-white;
    color: $ff-color--action;
    border: 1px solid $ff-color--action;
    &:hover {
      background-color: $ff-color--highlight;
      border-color: $ff-color--highlight;
      color: $ff-white;
    }
  }
  &--tertiary {
    color: $ff-color--action;
    &:hover {
      background-color: $ff-color--highlight;
      color: $ff-white;
    }
  }
  &--danger {
    color: $ff-white;
    background-color: $ff-color--danger;
    border: 1px solid $ff-color--danger;
    &:hover {
      background-color: $ff-color--danger--dark;
      color: $ff-white;
    }
  }
  // nested element
  .ff-btn--icon,
  .ff-btn--icon svg {
    width: 20px;
    height: 20px;
  }
  .ff-btn--icon-left {
    margin-left: -$ff-unit-xs;
    margin-right: $ff-unit-sm;
  }
  .ff-btn--icon-right {
    margin-left: $ff-unit-sm;
    margin-right: -$ff-unit-xs;
  }

  &.ff-btn-small {
    .ff-btn--icon,
    .ff-btn--icon svg {
      width: 16px;
      height: 16px;
    }
    .ff-btn--icon-left {
      margin-right: $ff-unit-xs;
    }
    .ff-btn--icon-right {
      margin-left: $ff-unit-xs;
    }
  }

  &.ff-btn-fwidth {
    .ff-btn--icon {
      position: absolute;
    }
    .ff-btn--icon-left {
      left: 0;
      padding-left: $ff-unit-lg;
    }
    .ff-btn--icon-left {
      right: 0;
      padding-right: $ff-unit-lg;
    }
  }

  &:disabled {
    cursor: not-allowed;
    border-color: $ff-grey-200;
    color: $ff-grey-400;
    background-color: $ff-grey-200;
  }
}

/*
  FF Kebab Menu
*/

.ff-kebab-menu {
  position: relative;
  >svg {
    width: 20px;
    cursor: pointer;
    &:hover {
      fill: $ff-blue-600;
    }
  }
  &.active {
    >svg {
      fill: $ff-blue-600;
    }
  }
}

.ff-kebab-options {
  position: absolute;
  top: 24px;
  border: 1px solid $ff-grey-300;
  z-index: 10;
  box-shadow: 0px 6px 9px 0px #00000038;
  li {
    min-width: 150px;
    white-space: nowrap;
    &.ff-list-item--danger {
      color: $ff-red-500;
    }
  }
  &--left {
    left: 0;
  }
  &--right {
    right: calc(100% - 24px);
  }
}

/*
  FF List Item
*/
li.ff-list-item {
  padding: 12px 48px 12px 12px;
  background-color: white;
  &:hover {
    cursor: pointer;
    background-color: $ff-grey-200;
  }
}

/*
  FF Input
*/

.ff-input {
  &.ff-text-input {
    border: 1px solid $ff-grey-300;
    border-radius: $ff-unit-sm;
    height: 32px;
    width: 100%;
    display: flex;
    gap: 0px;
    align-items: center;
    svg {
      width: 20px;
      height: 20px;
      margin-left: $ff-unit-sm;
    }
    input {
      flex-grow: 1;
      padding: $ff-unit-sm $ff-unit-md;
      border-radius: $ff-unit-xs;
      background: none;
      height: 100%;
      border-width: 0;
      &:focus-visible {
        border: none;
        outline: none;
      }
    }
    &:focus-within {
      border-color: $ff-blue-600;
      border-width: 2px;
      outline: none;
      svg {
        margin-left: $ff-unit-sm - 1px;
      }
    }
  }
}

.ff-input--error {
  &.ff-text-input {
    border-color: $ff-red-300;
  }
}

.ff-dropdown {
  position: relative;
  display: inline-block;
  .ff-dropdown-selected {
    border: 1px solid $ff-grey-300;
    border-radius: $ff-unit-xs;
    padding: $ff-unit-sm $ff-unit-md;
    height: 32px;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    z-index: 2;
  }
  .ff-dropdown-options {
    position: absolute;
    top: 100%;
    display: none;
    box-shadow: 0px 6px 9px 0px #00000038;
    .ff-dropdown-option {
      padding: $ff-unit-sm $ff-unit-md;
      background-color: $ff-grey-50;
      &:hover {
        background-color: $ff-grey-200;
      }
    }
    &.ff-dropdown-options--full-width {
      width: 100%;
      border-width: 0 1px 1px 1px;
    }
    &.ff-dropdown-options--fit {
      border-width: 1px;
      min-width: none;
      .ff-dropdown-option {
        padding-right: $ff-unit-xl;
      }
    }
    &.ff-dropdown-options--align-left {
      left: 0;
    }
    &.ff-dropdown-options--align-right {
      right: 0;
    }
  }
  &.ff-dropdown--open {
    .ff-dropdown-selected {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .ff-dropdown-options {
      display: block;
    }
  }
}

.ff-checkbox,
.ff-radio-btn {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  input[type=checkbox], input[type=radio] {
    display: none
    // background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e")
  }
  label {
    cursor: pointer;
  }
  /* Create a custom checkbox */
  .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: $ff-unit-xs;
    background-color: transparent;
    border: 1px solid $ff-grey-400;    
  }
  .checkbox:after {
    content: "";
    display: none;
    position: absolute;
    left: 4.5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:hover {
    .checkbox {
      background-color: $ff-grey-200;
    }
  }
  .checkbox {
    &[checked=true] {
      background-color: $ff-grey-800;
      border-color: $ff-grey-900;
    }
    &[checked=true]:after {
      display: block;
    }
  }
}

.ff-radio-group {
  .ff-radio-group-label {
    display: block;
    margin-bottom: $ff-unit-md;
  }
  &.ff-radio-group--horizontal {
    .ff-radio-btn {
      margin-right: $ff-funit-lg;
    }
  }
  &.ff-radio-group--vertical {
    .ff-radio-btn {
      display: block;
      margin-bottom: $ff-funit-md;
    }
  }
}

.ff-radio-btn {
  .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid $ff-grey-400;    
  }
  .checkbox:after {
    content: "";
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 14px;
    height: 14px;
    background-color: black;
    border: solid white;
    border-width: 2px;
    border-radius: 50%;
  }
}

.ff-tile-selection {
  display: flex;
  .ff-tile-selection-option {
    display: inline-block;
    background-color: $ff-white;
    border: 2px solid $ff-grey-300;
    border-radius: $ff-unit-sm;
    padding: $ff-unit-lg;
    margin-right: $ff-unit-md;
    width: 275px;
    ul {
      list-style: disc;
      margin-top: 3px;
      padding-left: 18px;
      li {
        line-height: 1.5rem;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &--header {
      display: flex;
      justify-content: space-between;
      align-items: end;
      margin-bottom: 3px;
      h2 {
        font-size: 16px;
      }
      > h2 {
        display: flex;
        align-items: center;
        gap: $ff-unit-md;
        padding-right: $ff-unit-xl;
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
    &--price {
      text-align: center;
      h2 {
        margin: 0;
        line-height: 1rem;
      }
      label {
        font-size: $ff-funit-sm;
      }
    }
    &--edit {
      cursor: pointer;
      &:hover {
        fill: $ff-blue-700;
      }
    }
    &--meta {
      margin-top: $ff-unit-md;
      padding-top: $ff-unit-md;
      border-top: 1px solid $ff-grey-400;
      >div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: $ff-unit-sm;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &:not(.editable):hover {
      cursor: pointer;
      border: 2px solid $ff-blue-700;
    }
    &.active {
      border: 2px solid $ff-blue-700;
      svg {
        fill: $ff-blue-700;
      }
    }
    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

/*
  FF Data Table 
*/
.ff-data-table {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  &--options {
    margin-bottom: 6px;
    display: flex;
    gap: 6px;
    justify-content: flex-end;
  }
  &--search.ff-text-input {
    flex-grow: 1;
    width: auto;
    height: 34px;
    border-radius: 6px;
  }
  &--actions {
    display: flex;
    gap: 6px;
  }
  &--data {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    .ff-data-table--cell {
      .ff-icon {
        margin: -1px 0;
      }
      .ff-icon-lg {
        margin: -3px 0;
      }
      &:first-child {
        padding-left: 16px;
      }
      &:last-child {
        padding-right: 16px;
      }
    }
    thead {
      .ff-data-table--row .ff-data-table--cell {
        &:first-child {
          border-top-left-radius: 4px;
        }
        &:last-child {
          border-top-right-radius: 4px;
        }
      }
      .ff-data-table--cell {
        padding: 9px 12px;
        background-color: $ff-grey-100;
        font-weight: 600;
        >div {
          display: flex;
          justify-content: space-between;
        }
        &.sortable {
          .ff-icon {
            opacity: 0;
          }
          &:hover {
            background-color: $ff-grey-200;
            cursor: pointer;
            .ff-icon {
              opacity: 0.5;
            }
          }
        }
        &.sorted {
          background-color: $ff-grey-200;
          .ff-icon.icon-sorted {
            opacity: 1;
          }
        }
      }
    }
    tbody {
      .ff-data-table--row:last-child {
        .ff-data-table--cell {
          border-bottom-width: 1px;
          border-top-color: $ff-grey-200;
          &:first-child {
            border-bottom-left-radius: 4px;
          }
          &:last-child {
            border-bottom-right-radius: 4px;
          }
        }
      }
      .ff-data-table--cell {
        padding: 12px 12px;
        background-color: white;
        &.status-message {
          text-align: center;
          color: $ff-grey-400;
        }
      }
      .selectable:hover .ff-data-table--cell {
        cursor: pointer;
        background-color: $ff-grey-50;
      }
    }
  }
  &--row {
    td {
      border-width: 1px 0px 0px;
      border-style: solid;
      border-color: $ff-grey-300;
      &:first-child {
        border-left-width: 1px;
      }
      &:last-child {
        border-right-width: 1px;
      }
    }
  }
}

.ff-loadmore {
  width: 100%;
  text-align: center;
  span {
    display: inline-block;
    margin: auto;
    color: $ff-blue-500;
    background-color: white;
    padding: $ff-unit-xs $ff-unit-md 4px;
    border: 1px solid $ff-grey-300;
    border-top: 0;
    border-radius: 0 0 6px 6px;
    &:hover {
      cursor: pointer;
      color: $ff-blue-700;
    }
  }
}

/*
  FF Dialog Box
*/
.ff-dialog-container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  &--open {
    display: flex;
  }
  &--closed {
    display: none;
  }
}

.ff-dialog-box {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 42rem;
  margin-top: 60px;
  max-height: calc(100% - 84px);
  display: flex;
  flex-direction: column;
  background-color: $ff-white;
  .ff-dialog {
    &-header {
      height: 48px;
      line-height: 48px;
      background-color: $ff-grey-800;
      border-bottom: 2px solid $ff-red-400;
      padding: 0 $ff-unit-lg;
      color: $ff-white;
      font-weight: 600;
    }
    &-content {
      padding: $ff-funit-lg;
      overflow-y: auto;
    }
    &-actions {
      display: flex;
      justify-content: flex-end;
      padding: $ff-unit-md $ff-unit-lg $ff-unit-lg $ff-unit-lg;
      .ff-btn {
        margin-left: $ff-funit-md;
      }
    }
  }
}

.ff-dialog-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $ff-grey-800;
  opacity: 0.3;
}

/*
  Notifications
*/

.ff-notification-pill {
  background-color: $ff-red-600;
  color: $ff-white;
  padding: $ff-unit-xs $ff-unit-md;
  font-weight: 600;
  border-radius: $ff-unit-sm;
  font-size: $ff-funit-sm;
}

.ff-notification-toast {
  position: relative;
  background-color: $ff-white;
  border: 1px solid $ff-grey-400;
  padding: $ff-unit-md $ff-unit-md $ff-unit-md $ff-unit-lg;
  box-shadow: -$ff-unit-sm $ff-unit-sm $ff-unit-sm #0000008c;
  border-radius: 0 $ff-unit-sm $ff-unit-sm 0;
  max-width: 475px;

  &--bar {
    height: 100%;
    width: $ff-unit-md;
    background-color: black;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  &--info {
    border-color: $ff-grey-400;
    .ff-notification-toast--bar {
      background-color: $ff-grey-400;
    }
  }
  &--warning {
    border-color: $ff-red-400;
    .ff-notification-toast--bar {
      background-color: $ff-red-400;
    }
  }
  &--confirmation {
    border-color: $ff-green-400;
    .ff-notification-toast--bar {
      background-color: $ff-green-400;
    }
  }

  &--message {
    display: grid;
    grid-template-columns: 1fr 20px;
    gap: $ff-unit-lg;
    >div {
      padding-top: 2px;
    }
  }

  &--close {
    cursor: pointer;
    position: relative;
    svg {
      position: relative;
      z-index: 2;
      padding: 4px;
    }
    .countdown-wrapper {
      z-index: 1;
    }
    &:hover {
      color: $ff-indigo-600;
    }
  }

  &--actions {
    margin-top: $ff-unit-md;
    // margin-right: $ff-unit-xl;
    display: flex;
    justify-content: flex-end;
  }
}

/* Countdown Pie */
$countdown_size: 20px;

.countdown-wrapper {
  width: $countdown_size;
  height: $countdown_size;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
}

.countdown-pie {
  width: 50%;
  height: 100%;
  position: absolute;
  background: $ff-white;
  border: 2px solid $ff-grey-300;
}

.countdown-spinner {
  transform-origin: 100% 50%;
  border-radius: ($countdown_size/2) 0 0 ($countdown_size/2);
  z-index: 200;
  border-right: none;
}

.countdown-filler {
  border-radius: 0 ($countdown_size/2) ($countdown_size/2) 0;
  z-index: 100;
  border-left: none;
  left: 50%;
  opacity: 0;
}

.countdown-mask {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 300;
  opacity: 1;
  background: inherit;
}

@keyframes rota {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fill {
  0%        { opacity: 0; }
  50%, 100% { opacity: 1; }
}

@keyframes mask {
  0%        { opacity: 1; }
  50%, 100% { opacity: 0; }
}


/*
  FF Tabs
*/
.ff-tabs {
  display: flex;
  .ff-tab-option {
    padding: $ff-unit-md;
    &:hover {
      color: $ff-blue-700;
      cursor: pointer;
    }
  }
  &.ff-tabs--horizontal {
    flex-direction: row;
    .ff-tab-option {
      margin-right: $ff-unit-md;
      &.ff-tab-option--active {
        border-bottom: $ff-unit-xs solid $ff-blue-700;
      }
    }
  }
  &.ff-tabs--vertical {
    flex-direction: column;
    .ff-tab-option {
      border-left-width: $ff-unit-xs;
      border-color: transparent;
      margin-bottom: $ff-unit-md;
      &.ff-tab-option--active {
        border-left: $ff-unit-xs solid $ff-blue-700;
      }
    }
  }
}
