/*
  ff-core contains styling on the custom, ff components
*/

.ff-icon {
  width: 20px;
  height: 20px;
}

.ff-icon-sm {
  width: 16px;
  height: 16px;
}

/*
  FF Button
*/
.ff-btn {
  padding: $ff-unit-sm $ff-unit-lg;
  border-radius: $ff-unit-sm;
  display: flex;
  align-items: center;
  font-size: $ff-funit-sm;
  line-height: 20px;
  height: 32px;
  position: relative;
  
  justify-content: center;
  font-weight: bold;
  height: auto;
  padding: 8px 16px;
  border: 0;

  &.ff-btn-icon {
    padding: $ff-unit-sm $ff-unit-md;
  }

  &.ff-btn-small {
    padding: $ff-unit-xs $ff-unit-sm;
    font-size: $ff-funit-xs;
    line-height: 16px;
    height: 24px;
  }
  
  &.ff-btn-fwidth {
    justify-content: center;
  }

  &:hover {
    cursor: pointer;
  }

  &--primary {
    background-color: $ff-color--action;
    border: 1px solid $ff-color--action;
    color: $ff-grey-50;
    &:hover {
      background-color: $ff-color--highlight;
    }
  }
  &--secondary {
    background-color: $ff-white;
    color: $ff-color--action;
    border: 1px solid $ff-color--action;
    &:hover {
      background-color: $ff-color--highlight;
      border-color: $ff-color--highlight;
      color: $ff-white;
    }
  }
  &--tertiary {
    color: $ff-color--action;
    &:hover {
      background-color: $ff-color--highlight;
      color: $ff-white;
    }
  }
  &--danger {
    color: $ff-white;
    background-color: $ff-color--danger;
    border: 1px solid $ff-color--danger;
    &:hover {
      background-color: $ff-color--danger;
      color: $ff-white;
    }
  }
  // nested element
  .ff-btn--icon,
  .ff-btn--icon svg {
    width: 20px;
    height: 20px;
  }
  .ff-btn--icon-left {
    margin-left: -$ff-unit-xs;
    margin-right: $ff-unit-sm;
  }
  .ff-btn--icon-right {
    margin-left: $ff-unit-sm;
    margin-right: -$ff-unit-xs;
  }

  &.ff-btn-small {
    .ff-btn--icon,
    .ff-btn--icon svg {
      width: 16px;
      height: 16px;
    }
    .ff-btn--icon-left {
      margin-right: $ff-unit-xs;
    }
    .ff-btn--icon-right {
      margin-left: $ff-unit-xs;
    }
  }

  &.ff-btn-fwidth {
    .ff-btn--icon {
      position: absolute;
    }
    .ff-btn--icon-left {
      left: 0;
      padding-left: $ff-unit-lg;
    }
    .ff-btn--icon-left {
      right: 0;
      padding-right: $ff-unit-lg;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}

/*
  FF Input
*/
.ff-input {
  &.ff-text-input {
    border: 1px solid $ff-grey-300;
    border-radius: $ff-unit-xs;
    padding: $ff-unit-sm $ff-unit-md;
    height: 32px;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
}

.ff-dropdown {
  position: relative;
  .ff-dropdown-selected {
    border: 1px solid $ff-grey-300;
    border-radius: $ff-unit-xs;
    padding: $ff-unit-sm $ff-unit-md;
    height: 32px;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    z-index: 2;
  }
  .ff-dropdown-options {
    width: 100%;
    position: absolute;
    top: 100%;
    display: none;
    .ff-dropdown-option {
      padding: $ff-unit-sm $ff-unit-md;
      background-color: $ff-grey-50;
      &:hover {
        background-color: $ff-grey-200;
      }
    }
  }
  &.ff-dropdown--open {
    .ff-dropdown-selected {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .ff-dropdown-options {
      display: block;
      border-width: 0 1px 1px 1px;
      box-shadow: 0px 6px 9px 0px #00000038
    }
  }
}

.ff-checkbox,
.ff-radio-btn {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  input[type=checkbox], input[type=radio] {
    display: none
    // background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e")
  }
  label {
    cursor: pointer;
  }
  /* Create a custom checkbox */
  .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: $ff-unit-xs;
    background-color: transparent;
    border: 1px solid $ff-grey-400;    
  }
  .checkbox:after {
    content: "";
    display: none;
    position: absolute;
    left: 4.5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:hover {
    .checkbox {
      background-color: $ff-grey-200;
    }
  }
  .checkbox {
    &[checked=true] {
      background-color: $ff-grey-800;
      border-color: $ff-grey-900;
    }
    &[checked=true]:after {
      display: block;
    }
  }
}

.ff-radio-group {
  .ff-radio-group-label {
    display: block;
    margin-bottom: $ff-unit-md;
  }
  &.ff-radio-group--horizontal {
    .ff-radio-btn {
      margin-right: $ff-funit-lg;
    }
  }
  &.ff-radio-group--vertical {
    .ff-radio-btn {
      display: block;
      margin-bottom: $ff-funit-md;
    }
  }
}

.ff-radio-btn {
  .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid $ff-grey-400;    
  }
  .checkbox:after {
    content: "";
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 14px;
    height: 14px;
    background-color: black;
    border: solid white;
    border-width: 2px;
    border-radius: 50%;
  }
}

/*
  FF Tabs
*/
.ff-tabs {
  display: flex;
  .ff-tab-option {
    padding: $ff-unit-md;
    &:hover {
      color: $ff-blue-700;
      cursor: pointer;
    }
  }
  &.ff-tabs--horizontal {
    flex-direction: row;
    .ff-tab-option {
      margin-right: $ff-unit-md;
      &.ff-tab-option--active {
        border-bottom: $ff-unit-xs solid $ff-blue-700;
      }
    }
  }
  &.ff-tabs--vertical {
    flex-direction: column;
    .ff-tab-option {
      border-left-width: $ff-unit-xs;
      border-color: transparent;
      margin-bottom: $ff-unit-md;
      &.ff-tab-option--active {
        border-left: $ff-unit-xs solid $ff-blue-700;
      }
    }
  }
}
