forge:
  domain: flowfuse.dev
  https: true
  localPostgresql: true
  broker:
    enabled: true
    teamBroker:
      enabled: true
  cloudProvider: aws
  email:
    ses:
      region: eu-west-1
  assistant:
    enabled: true
  resources:
    limits:
      cpu: 1000m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 16Mi


postgresql:
  persistence:
    enabled: false
  primary:
    nodeAffinityPreset:
      type: "hard"
      key: "role"
      values:
        - "management"
