name: Publish
on:
  schedule:
    - cron: '0 23 * * *'
  push:
    branches:
      - 'feat-*' 

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set nigthly release
        # if: ${{ github.event_name == 'schedule' }}
        run: echo "release_name=nightly" >> $GITHUB_ENV
      - name: "Set dependecies versions"
        run: |
          npm version prerelease --preid `git rev-parse --short HEAD`-`date +%Y%m%d` --no-git-tag-version
          cat package.json | jq '.dependencies["@flowforge/localfs"] = "${{ env.release_name }}" | .dependencies["@flowforge/forge-ui-components"] = "${{ env.release_name }}"' > package.json-patched
          mv package.json-patched package.json
      - name: "Publish npm package"
        uses: JS-DevTools/npm-publish@v2
        with:
          tag: ${{ env.release_name }}
          package: ./package.json
          registry: https://npm.pkg.github.com
          token: ${{ secrets.GITHUB_TOKEN }}